.DS_Store

# IDEs
.idea/
.vscode/
*.iml

# Android/Gradle
**/build/
**/.gradle/
android/.gradle/
android/build/
android/app/build/
local.properties
*.keystore
*.jks
*.apk
*.ap_

# Logs
*.log

# Node
node_modules/

# Misc
env.local
.env
thumbs.db
